/* app/static/style.css */

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #007bff, #ffffff); /* Adiciona um gradiente de azul para branco */
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    max-width: 500px;
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 5px;
}

select, input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}


/* app/static/style.css */

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #007bff, #ffffff);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    max-width: 500px;
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 5px;
}

select, input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
